/* Use Google Font */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #74ebd5, #9face6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form styling */
form {
    background-color: white;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
}

h1 {

    font-size: 2.7rem;
    color: #fcfbfb;
    margin-bottom: 50px;
    
}

label {
    width: 40%;
    font-weight: 600;
    display: block;
    margin-top: 12px;
    color: #444;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px 12px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #574b90;
}
